<!DOCTYPE html>
<html>
<head>
    <title>لیست محصولات</title>
</head>
<body>
    <h1>محصولات</h1>
    <ul>
        {% if kalas|length == 0 %}
            <li>محصولی موجود نیست.</li>
        {% else %}
            {% for p in kalas %}
                {% if p.vaziat == 1 %}
                    {% set a = "Draft" %}
                {% elif p.vaziat == 2 %}
                    {% set a = "send" %}
                {% elif p.vaziat == 3 %}
                    {% set a = "recived" %}
                {% else %}
                    {% set a = "finish" %}
                {% endif %}

                <li>
                    <strong>{{ p.name }}</strong> - 
                    {{ p.subject }} - 
                    {{ p.id }} - 
                    وضعیت: {{ a }}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <br><br>
    <form action="/change/sub" method="post">
        <label for="sku">id :</label>
        <input type="text" id="sku" name="id" />
        <label for="vaz">وضعیت :
            <p>1.Draft
                2.send
                3.recived
                4.finish
            </p>
        </label>
        <input type="number" id="vaz" name="vaz" />
        <br /><br />
        <button type="submit">ارسال فرم</button>
    </form>


</body>

</html>
