<!DOCTYPE html>
<html>
<head>
    <title>login</title>
</head>
<body>
    <h2>ثبت نام </h2>
    <form action="/vorod" method="post">
        <label>نام :</label><br>
        <input type="text" name="fname" required><br>
        <label>فامیل :</label><br>
        <input type="text" name="lname" required><br>
        <label>نام کاربری:</label><br>
        <input type="text" name="kname" required><br>
        <label>ایمیل :</label><br>
        <input type="email" name="email" required><br>
        <label>رمز عبور:</label><br>
        <input type="password" name="password" required><br><br>
        <button type="submit">ثبت نام</button>
    </form>
</body>
</html>
