<!DOCTYPE html>
<html>
  <head>
    <title>mange kala</title>
  </head>
  <body>
    <H1>مدیریت</H1>
    <button>
      <a href="/home/admin/manage/add">اضافه </a>
  </button>
  <button>
    <a href="/home/admin/manage/delate">پاک کردن</a>
</button>
      <button>
     <a href="/home/admin/manage/sel">درخواست خرید </a>
      </button>
      <button>
        <a href="/home/admin/manage/edit">ویرایش  </a>
         </button>
    <button>
        <a href="/home/admin">بازگشت</a>
    </button>
  </body>
</html>