

    <!DOCTYPE html>
    <html>
    <head>
        <title>لیست محصولات</title>
    </head>
    <body>
        <h1>محصولات</h1>
        <ul>
            {% for p in kalas %}
                <ol type="1">
                    <strong>{{ p.name }}</strong> - 
                    {{ p.subject }} -
                    {{p.sku}}- 
                    {{ p.price }} تومان - 
                    موجودی: {{ p.tedad }}
                </li>
            {% else %}
                <li>محصولی موجود نیست.</li>
            {% endfor %}
        </ul><br><br>
        <form action="/buy/sub" method="post">
            <label for="sku">sku :</label>
            <input type="number" id="sku" name="sku" />
            <label for="tedad">تعداد :</label>
            <input type="number" id="tedad" name="tedad" />
            <br /><br />
            <button type="submit">ارسال فرم</button>
          </form>
          <button>
            <a href="/home/admin/manage">بازگشت</a>
        </button>
    </body>
    </html>