<!DOCTYPE html>
<html>
  <head>
    <title>sign up</title>
  </head>
  <body>
    <H1>sign up</H1><br>
    <form action="/vorod" method="post">
        <label> کاربری نام:</label><br>
        <input type="text" name="kname" required><br>
        <label>رمز:</label><br>
        <input type="password" name="password" required><br>
        <button type="submit">ارسال</button><br>
    </form>
    <button>
        <a href="/users/login">log in </a>
    </button><br>
    <button>
        <a href="/users">بازگشت</a>
    </button>
  </body>
</html>